<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="cabecalho :: head"></div>

	<title>Crud Manager -Empresa</title>
</head>

<body>
	<div class="container my-2">
		<h2>Empresa</h2>
		
		
		<form action="#" th:action="@{/companies/new}" th:object="${company}" method="POST">
			<input type="hidden" th:field="*{id}" id="id">
			
			<span th:if="${#fields.hasErrors('name')}"
			th:errors="*{name}" class="text-danger">
			</span>
			<input type="text" th:field="*{name}" placeholder="Nome" class="form-control mb-4 col-4"> 
			
			<span th:if="${#fields.hasErrors('cnpj')}"
			th:errors="*{cnpj}" class="text-danger">
			</span>
			<input type="text" th:field="*{cnpj}" placeholder="CNPJ" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('address')}"
			th:errors="*{address}" class="text-danger">
			</span>
			<input type="text" th:field="*{address}" placeholder="Endereco" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('phone')}"
			th:errors="*{phone}" class="text-danger">
			</span>	
			<input type="text" th:field="*{phone}" placeholder="Telefone" class="form-control mb-4 col-4">
			
			<!-- Qdo insere com os dados vazios nao carrega! --> 
			<select class="form-control mb-4 col-4" id="spId" name="spId">
    			<option value="0">Selecione uma prestadora de servicos</option>
    			<option th:each="sp : ${serviceProviders}" th:value="${sp.id}" th:text="${sp.name}"></option>
			</select>
					
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/companies}">Empresas</a>
	</div>
</body>
</html>