<!DOCTYPE html>

<!-- 

A expressão th:replace="cabecalho :: head" dentro da div
é uma diretiva do Thymeleaf (pacote do start spring io) que indica a substituição
do conteúdo da div pelo fragmento de template chamado "cabecalho" na seção "head".

Essa sintaxe é usada para reutilizar partes de um template em outros templates,
promovendo a modularidade e a manutenção do código.
O Thymeleaf permite definir fragmentos de template em arquivos separados
e incluí-los ou substituí-los em outros templates conforme necessário.

-->

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="cabecalho :: head"></div>

<title>Crud Manager - Usuários</title>
</head>
<body>

	<div class="container my-2">

		<div class="container my-2">
			<h1>Usuários</h1>
			<div>
				<a th:href="@{/users/form}" th:object="${user}" class="btn btn-primary btn-sm mb-3 float-right"> Adicionar
					Usuário </a>
			</div>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Gênero</th>
						<th>Endereço</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${users}">
						<td th:text="${u.name}"></td>
						<td th:text="${u.email}"></td>
						<td th:text="${u.gender}"></td>
						<td></td>
						<td><a th:href="@{/users/update{id}(id=${u.id})}" class="btn btn-primary">Alterar</a> 
						
						<a th:href="@{/users/delete{id}(id=${u.id})}" class="btn btn-danger">Excluir</a></td>
							
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>