<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="cabecalho :: head"></div>

<title>Crud Manager - Empresas</title>
</head>

<body style="background: #9ff5b2">

	<div class="container my-2">

		<div class="container my-2">
			<h1>Empresas</h1>
			<div>
				<a th:href="@{/companies/form}" th:object="${company}" class="btn btn-primary btn-sm mb-3 float-right"> Adicionar
					Empresa </a>
				<a style="margin-right:20px" th:href="@{/}" class="btn btn-primary btn-sm mb-3 float-right"> Home
					Page </a>	
			</div>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CNPJ</th>
						<th>Endereco</th>
						<th>Telefone</th>
						<th>Prestador</th>
						<th>Acoes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${companies}">
						<td th:text="${c.name}"></td>
						<td th:text="${c.cnpj}"></td>
						<td th:text="${c.address}"></td>
						<td th:text="${c.phone}"></td>
						
						<!--  
						<td th:text="${c.ServiceProvider.getName()==c.getId()}"></td>
						
						-->
						<td></td>
						<td><a th:href="@{/companies/update{id}(id=${c.id})}" class="btn btn-primary">Alterar</a> 
						
						<a th:href="@{/companies/delete{id}(id=${c.id})}" class="btn btn-danger">Excluir</a></td>
							
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>